!gitignore
data/*
data
src/__pycache__

outputs/*
outputs

outputs_diarization/*
outputs_diarization

outputs_dataset/*

outputs_diarization/*

outputs_segment_with_mark/*

*_dataset/*

txt/*

__pycache__/*